<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
        <link rel="icon" href="./images/weather.png">
        <link rel="stylesheet" href="./css/styles.css">
        <script src="js/app.js"></script>

    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <p>This website is created by {{name}}. The Apis used in this website are <a class="website" href="https://weatherstack.com/">weatherstack.com</a> and <a class="website" href="https://www.mapbox.com/">mapbox.com</a> </p>
            <img src="./images/profile.jpg" class="potrait">
            <P>Email : ajaychawla804@gmail.com</P>
            <P>Contact: +(92) 335 1368 515</P>
        </div>
        {{>footer}}
    </body>
</html>